.root{
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;

  button {
    background: none;
    border: 0;

    &:hover {
      cursor: pointer;
    }
  }

  h1 {
    font-size: 125px;
    font-weight: 100;
    color: rgba(228, 141, 141, 0.85);
  }
}
